@import "/assets/css/Variable.css";

.heading{
    text-shadow: var(--dark-red) 0 1px 0;
}
/*.content-shadow{*/
/*    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;*/
/*    border-radius: 12px;*/
/*}*/
/*.footer-items:before{*/
/*    content: "";*/
/*    background: var(--white);*/
/*    width: 0;*/
/*    height: 1px;*/
/*    position: absolute;*/
/*    bottom:-6px;*/
/*    transition: all ease-in-out .3s;*/
/*}*/
/*.footer-items:hover::before{*/
/*    width: 100%;*/
/*}*/
/*#footer{*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*}*/

#forget-portal .wrapperForget{
    background:#f3f3f3;
    height: 100vh;
    width: 100%;
}

#forget-portal .forget-portal-card {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
    overflow: hidden;
}
#forget-portal .forget-input{
    border-bottom: 1px solid var(--dark-blue);
}







