@import "../../../assets/css/Variable.css";

.heading {
    text-shadow: var(--dark-orange) 0 1px 0;
}

.content-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 12px;
}

#footer {
    position: fixed;
    bottom: 0;
}

.footer-bar::before {
    content: "";
    position: absolute;
    bottom: -6px;
    background-color: var(--white);
    width: 25%;
    height: 1px;
}

.social-icons:hover {
    background-color: var(--white);
}

.social-icons:hover i {
    color: var(--dark-blue);
    transition: all linear 0.2s;
}

#footer a:hover {
    color: black;
}
